.about {
    padding: 2rem;
    background-color: #f9f9f9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
}

.about-head {
    text-align: center;
    font-size: 1.5rem;
    color:black;
    margin-bottom: 1.5rem;
}

.about-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

.about-content-item {
    text-align: justify;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

.about-image-item {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.about-image-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .about-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content-item,
    .about-image-item {
        padding: 1.5rem;
    }

    .about-head {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .about-head {
        font-size: 3.5rem;
    }

    .about-content-item {
        font-size: 1.1rem;
    }
}