

.highlight-item img{
    height: 199px;
    width: 253px;
}
.about-container-item img{
    
    width: 100%;
        width: 300px;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
       
    }
   

    


