/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #ffffff;
}

header {
  background-color: rgb(21, 102, 16);
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav img {
  width: 80px;
  height: 80px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.hero-container-desc {
  max-width: 50%;
}

.hero-container-desc h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-container-desc h5 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero-container-desc p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-section img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

button {
  background-color: rgb(26, 88, 38);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;

}

button:hover {
  background-color: rgb(18, 67, 18);
  color: white;
  transform: scale3d(0.99, 0.99, 0.99);
  transition: all 0.3s ease-in;
}

/* Highlights Section */
.Highlights {
  padding: 50px 0;
  text-align: center;
  background-color: #ffffff;
}

.Highlights h3 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.highlight-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.highlight-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 300px;
}

.highlight-item h4 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.highlight-item p {
  font-size: 1rem;
  margin-top: 10px;
}


/* About Section */
.about {
  background-color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

.about-container-item {
  max-width: 50%;
}

.about-container-item h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.about-container-item h6 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.about-container-item p {
  font-size: 1.2rem;
}

/* Footer Section */
footer {
  background-color: rgb(21, 102, 16);
  color: white;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-container-item {
  text-align: left;
}

.footer-container-item h5 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.footer-container-item ul {
  list-style: none;
}

.footer-container-item ul li {
  margin-bottom: 10px;
}

.footer-container-item ul li a {
  color: rgb(239, 232, 232);
  text-decoration: none;
}

.footer-container-item ul li:hover a {
  text-decoration: underline;
}

/* Media Queries for Responsiveness */

/* For small screens and mobile devices */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-container-desc {
    max-width: 100%;
  }

  .highlight-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-container {
    flex-direction: column;
    align-items: center;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-container {
    flex-direction: column;
    align-items: center;
  }
}

/* For larger screens and desktops */
@media (min-width: 769px) {
  .hero-section {
    flex-direction: row;
  }

  .highlight-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .testimonial-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .about-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  footer .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }
}