/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}













/* Footer Section */
footer {
    background-color: rgb(21, 102, 16);
    color: white;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-container-item {
    text-align: left;
}

.footer-container-item h5 {
    font-size: 1rem;
    margin-bottom: 20px;
}

.footer-container-item ul {
    list-style: none;
}

.footer-container-item ul li {
    margin-bottom: 10px;
}

.footer-container-item ul li a {
    color: rgb(239, 232, 232);
    text-decoration: none;
}

.footer-container-item ul li:hover a {
    text-decoration: underline;
}
/* For small screens and mobile devices */
@media (max-width: 768px) {
    

    footer .footer-container {
        flex-direction: column;
        align-items: center;
    }
}

/* For larger screens and desktops */
@media (min-width: 769px) {
   

    footer .footer-container {
        flex-direction: row;
        justify-content: space-around;
    }
}