
.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.menu-button {
    display: none;
}

@media (max-width: 768px) {

   
    .nav-list {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        background-color: rgb(21, 102, 16);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding-top: 20px;
        z-index: 1000;
    }

   
    .nav-list.open {
        display: flex;
        transform: translateX(0);
    }

    .menu-button {
        display: block;
        cursor: pointer;
        background-color: azure;
        color: rgb(31, 29, 29);
        
        
        
    }
}